doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='사용자 관리 시스템 - Pug 템플릿 엔진과 Sequelize를 사용한 웹 애플리케이션')
    meta(name='theme-color', content='#101010')
    title 사용자 관리 시스템
    link(rel='stylesheet', href='/css/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block', rel='stylesheet')
  body
    div.background-elements
      div.bg-element.element-1
      div.bg-element.element-2
      div.bg-element.element-3
    
    header
      div.container
        h1 
          | 사용자 관리 시스템
    
    main
      div.container
        block content
    
    footer
      div.container
        p &copy; 2025 DoSeon-Lee 사용자 관리 시스템 